@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,300&display=swap');
h1{
    background-color: aqua;
    font-size: 60px;
    color:rgb(32, 106, 171);
    font-family: 'Poppins', sans-serif*;
}
p{
    background-color: blueviolet;
    font-size: 40px;
    color:black;

}
img{
    <img src="Narmal .JPG;" alt="">
    border-radius: 50%;
    width: auto;
    height: 600px;
    background-size:cover;
   }