* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background: darkgreen;
    color: skyblue ;
}
.container-top{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: black;
    
}
#about-me, #gallery, #education, #contact,  #references{
    height: 100vh;
}
#about-me{
    background:  palevioletred;
}
#gallery{
    background:  palevioletred;
}
#education{
    background: palevioletred;
}
#contact{
    background: palevioletred;
}

#references{
    background: palevioletred;
}
.page-overly{
    background: palevioletred;
    height: 100vh;
}
.header-section{
    display: inline-block;
    width: 100%;
    padding: 25px;
    position: fixed;
}
.header-section ul{
    float: right;
}
.header-section ul li {
    float: left;
    margin: 15px;
    list-style: none;
}
.header-section ul li a{
    color: whitesmoke;
    text-decoration: none;
}
.header-section ul li a:hover{
    color: rgb(31, 8, 12);
}
.footer-section{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.header-text{
    
    width: 100%;
    text-align: left;
    color: skyblue;
    text-align:start;
    margin-right: 50px;
}
.image{
    width: 40%;
    margin-right: 50px;

}
