* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background: palevioletred;
    color: skyblue ;
}
.container-top{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: black;
    font-size: 40px;
    
}
.container{
    font-size: 20px;
  
}
#about-me, #gallery, #education, #contact,  #references{
    height: 100vh;
}
#about-me{
    background:  palevioletred;

}
#gallery{
    background:  palevioletred;
}
#education{
    background: palevioletred;
}
#contact{
    background: palevioletred;
}

#references{
    background: palevioletred;
}
#home{
    background: palevioletred;
}
.page-overly{
    background: palevioletred;
    height: 100vh;
}
.header-section{
    display: inline-block;
    width: 100%;
    padding: 25px;
    position: fixed;
}
.header-section ul{
    float: right;
}
.header-section ul li {
    float: left;
    margin: 15px;
    list-style: none;
}
.header-section ul li a{
    color: whitesmoke;
    text-decoration: none;
}
.header-section ul li a:hover{
    color: rgb(31, 8, 12);
}
.footer-section{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.header-text{
    
    width: 100%;
    text-align: left;
    color: skyblue;
    text-align:start;
    margin-right: 40px;
}
.profile-image img{
    width: 100%;


}
.left-section, .right-section{
width: 50%;
float: left;
display: inline-block;
height: 100vh;
}
#about-me .description {
    text-align: center;
    padding: 100px;
}
.gallery-container{
    display: block;
}
.gallary-image{
    float: left;
    width: 20%;
    margin: 35px;
}
.gallary-image img{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    margin-left: 8%;
}
.education-image{
    float: center;
    width: 10%;
    margin: 25px;
}
.education-image img{
    width: 100%;
}
.education{
    justify-content: center;
}
.edu{
    display: flex;
    flex-direction: row;

}
.educ{
    height: 100vh;
}
.input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.input[type=submit]{
    background-color: blueviolet;
    color: aliceblue;
    padding: 12px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.input[type=submit]:hover{
    background-color: blue;
}
.container1{
  border-radius: 5px;
  background-color: black;
  padding: 20px;  
}